.cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5rem;
  padding: .5rem;

  @media(min-width: 38rem) {
    max-width: 70%;
  }

  li {
    min-height: 2rem;
    line-height: 2rem;
    border: solid 1px #666;
    background: white;
    font-size: .75rem;
  }
}