.loginOption {
  display: inline-block;
  width: 64px;
  height: 100px;
  margin: 10px 25px;
  cursor: pointer;
  border: solid 3px #ddd;
  padding: 5px 15px;
  border-radius: 2px;
  color: #666;
  font-size: 12px;

  &:hover {
    border-color: #0D3D65;
  }

  &.google {
    background: #fff url("/assets/google-64.png") no-repeat center center;
  }

  &.facebook {
    background: #fff url("/assets/facebook-64.png") no-repeat center center;
  }

  &.twitter {
    background: #fff url("/assets/twitter-64.png") no-repeat  center center;
  }

  &.anonymous {
    background: #fff url("/assets/anonymous-64.png") no-repeat  center center;
  }

  &.active {
    background-color: #ddd;
    border-color: #aaa;
  }
}

.logoutSection {
  cursor: pointer;
  color: #333;
  text-decoration: underline;
}