header {
  text-align: left;
  color: #eee;
  background: #0D3D65;
  position: relative;

  a:link, a:visited {
    color: white;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }

  h1 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 5px;
    position: relative;
    line-height: .5rem;
    padding: 1rem;
  }
}

.prefLink {
  float: right;
  line-height: .5rem;
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;

  &:hover {
    color: #43AAFF;
  }
}

@media (max-width: 600px) {
  header {

  }
}